<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://agios.cadrz.ch:3128" bypassonlocal="True" />
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="NewBinding" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="Proxy.Proxy">
        <endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding"
                  bindingConfiguration="NewBinding" contract="Proxy.IProxy" />
      </service>
    </services>
  </system.serviceModel>

  <!-- Disable all browser cache (Otherwise, IE caches all GIS calls, xap, ...) -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>